{% extends 'usuarios/base.html' %}
 {% block content %}
 <header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand"><a href="/">0/0 Board</a></h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="/registrar/">Registrar</a>
      <a class="nav-link" href="#">Blog</a>
      <a class="nav-link" href="#">Contacto</a>
    </nav>
  </div>
</header>
<form method="post">
    {% csrf_token %}
     <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input class="form-control" type="text" name="username">
           </div>
        </div>
    </div>    
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Contraseña:</label>
                <input class="form-control" type="password" name="password">
           </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <a href="/">Olvidé mi contraseña</a>
                <input class="btn btn-primary" type="submit" value="Ingresar">
           </div>
        </div>
    </div>
{% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
</form>
{% endblock %}
