{% extends 'usuarios/base.html' %}
 {% block content %}
 <header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand"><a href="/">0/0 Board</a></h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="logout/">{{ user.username }} Logout</a>
      <a class="nav-link" href="#">Blog</a>
      <a class="nav-link" href="#">Contacto</a>
    </nav>
  </div>
</header>
<div style="margin-bottom:20px">
      <a href="/{{user.profile.userpic}}">
        <img src="/{{user.profile.userpic}}" alt="Nature" style="width:50%" class="rounded mx-auto d-block">
      </a>
    </div>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Localizacion: {{ user.profile.location }}</li>
  <li>Cumpleaños: {{ user.profile.birth_date }}</li>

</ul>
{% endblock %}
