{% extends 'usuarios/base.html' %}
 {% block content %}
 <header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand"><a href="/">0/0 Board</a></h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="/logout/">{{ user.username }} Logout</a>
      <a class="nav-link" href="http://blog.jackcloudman.me">Blog</a>
      <a class="nav-link" href="https://t.me/JackCloudman">Contacto</a>
    </nav>
  </div>
</header>
<div style="margin-bottom:20px">
      <a href="/{{user.profile.userpic}}">
        <img src="/{{user.profile.userpic}}" alt="Si lees esto, puedes intentar cambiando tu imagen de usuario!" style="width:50%" class="rounded mx-auto d-block">
      </a>
    </div>
<ul>

  <li>Nombre: {{ user.first_name }}</li>
  <li>Apellidos: {{ user.last_name }}</li>
  <li>Username: {{ user.username }}</li>
  <li>Biografia: {{ user.profile.bio }}</li>
  <li>Localizacion: {{ user.profile.location }}</li>
  <li>Cumpleaños: {{ user.profile.birth_date }}</li>

</ul>
<main role="main" class="inner cover">                                                                                                  
    <p class="lead">                                                                                                                    
       <a href="edit/" class="btn btn-lg btn-secondary">Editar Perfil</a></p>                                                              
 </main> 
{% endblock %}
