{% load staticfiles %}
<html lang="en">
<head>
  <title>0/0 Board!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Press+Start+2P" rel="stylesheet" type="text/css">  
</head>
<body class="text-center aqua-gradient">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">0/0 Board</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="#">Iniciar</a>
            <a class="nav-link" href="#">Blog</a>
            <a class="nav-link" href="#">Contacto</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Carga, sube y comparte tus imagenes!</h1>
        <p class="lead">0/0 Board es una pagina en la cual podras subir tus imagenes y discutir sobre ellas, puedes compartir tantas imagenes que quieras! Hay varios hilos en los que podras interactuar con distintas personas!</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Leer mas</a>
        </p>
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Desarrollado por <a href="https://t.me/JackCloudman">@JackCloudman</a></p>
        </div>
      </footer>
    </div>
</body>
</html>
