{% extends 'post/base.html' %}
{% block content %}
      <div class="jumbotron">
         <h3 class="media-heading"><i class="material-icons">collections</i> {{board.description}}</h3>
          <p class="lead">
    <a class="btn btn-primary btn-lg" href="new/" role="button">Añadir Post!</a>
  </p>
      </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
            Publicado por {{post.author}}, {{ post.created_date }}
            </div>
            <h1><a href="{{post.id}}/">{{ post.title }}</a></h1>
            <div class="row">
                <div class="col-md-auto">
                <div class="figure"><img class="rounded" src="http://storage.jackcloudman.me/{{post.image}}" onclick="expandir(this)" style="width:250px;margin-bottom:5px;"></div>
                </div>
                <div class="col-md-6">
                    <div>
                    <p>{{post.text|linebreaksbr}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
<script type="text/javascript">
    function expandir(img){
        if(img.style.width=="100%"){
            img.style.width = "250px";
        }
        else{
            img.style.width = "100%";
        }
    }
</script>
{% endblock %}
